<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/mystyle.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="main">
            {{#each product}}
            <a href="#">
                <div class="box">

                    <div class="center">
                        <img class="boxing" width="150" height="150" src="{{img}}" alt="">
                    </div>
                    <div>
                        <h3>{{name}}</h3>
                    </div>
                    <div class="price">
                        <strong>Price</strong>
                        <span class="price">{{price}}$</span>
                    </div>
                        {{description}}
                </div>
            </a>
            {{/each}}
        </div>
        <div class="right"></div>
    </div>
</body>

</html>