<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<style type="text/css">
    body {
        background-image: url("https://zicxa.com/hinh-anh/wp-content/uploads/2019/06/Top-50-h%C3%ACnh-%E1%BA%A3nh-h%C3%ACnh-n%E1%BB%81n-m%C3%A0u-xanh-%C4%91%E1%BA%B9p-nh%E1%BA%A5t-12.jpg")
    }
</style>
<body>
    <table style="width: 100%" cellspacing="0" border="0">
        <form action="doInsert" method="post">
        <tr>
            <td>ID</td>
            <td>
                <input type="text" name="id" required>
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>
                <input type="text" name="name" required>
            </td>
        </tr>
        <tr>
            <td>Product Image</td>
            <td>
                 <input type="text" name="img" required> 
            </td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td>
                <input type="text" name="price" required>
            </td>
        </tr>
        <tr>
            <td>Product Status</td>
            <td>
                <input type="text" name="status">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="ADD PRODUCT">
            </td>
        </tr>
        </form>
    </table>
</body>

</html>